body {
    font-family: Arial, sans-serif;
    background-color: #000;  /* Netflix background color */
    color: #fff;  /* Text color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;  /* Text color */
}

form {
    margin-top: 20px;
}

.recommendation {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: none;  /* Remove borders */
    padding: 8px;
    text-align: left;
    color: #000;  /* Text color */
}

th {
    background-color: #d32f2f;  /* Netflix red color */
    color: #fff;  /* Text color */
}

/* Style for recommendation table */
.recommendation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.recommendation-th, .recommendation-td {
    border: none;  /* Remove borders */
    padding: 8px;
    text-align: left;
    color: #000;  /* Text color */
}


/* Style for images in the recommendation table */
img {
    width: 100px;  /* Adjust the width as needed */
    height: 120px;
}

/* Style for dropdown */
select {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
    overflow-y: auto; 
    position: relative;
}

select option {
    padding: 8px;
}
